
  <app-header></app-header>
  <div class="main-section">
 
  <!-- <app-main></app-main> -->
  <!-- <div>
    <h2 [hidden]="displaySlogan">{{slogan}}</h2>
  </div> -->
  <!-- <button type="button" [disabled]="isUnchanged" (click)="displayMethod()">Display Button</button> -->
 <div class="detail">
  <div>
    <span><b>First Name</b></span><br>
    <input type="text" [(ngModel)]="firstName">
  </div>
  <div>
    <span><b>Last Name</b></span><br>
   <input type="text" [(ngModel)]="lastName">
  </div>
   <div>
    <span><b>Contact Number</b></span><br>
    <input type="text" [(ngModel)]="contactNumber">
   </div>
   <div>
    <span><b>Date of Birth</b></span><br>
    <input type="text" [(ngModel)]="dateOfBirth">
   </div>
   <button type="button">Submit</button>
   
  </div>
 
</div>
